@import '../../modules/variables.scss';
@import '../../modules/mixins.scss';

.loginPage {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		margin: 199px auto 72px auto;
		padding: 0;
		font-family: "IBM Plex Sans";
		font-size: $h1_tablet_font-size;
		font-weight: $h3_desktop_font-weight;
		line-height: 52px;
	}

	&__buttonBox {
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-decoration: none;
	}

	&__buttonText {
		margin: 0;
		padding: 0;
		font-family: "IBM Plex Sans";
	}

	&__errorText {
		display: none;
		font-family: "IBM Plex Sans";
		text-align: center;
		color: red;

		&_active {
			display: block;
		}
	}

	@media screen and (max-width: 768px) {
		&__title {
			margin-top: 215px;
		}
	}

	@media screen and (max-width: 576px) {
		&__title {
			font-size: $h1_mobile_font-size;
			margin-top: 100px;
			margin-bottom: 32px;
		}
	}
}