@import "../../index.scss";
@import "../../modules/variables.scss";
@import "../../modules/mixins.scss";

.container {
  position: relative;
  height: 100%;
  width: 328px;

  @media screen and (max-width: 768px) {
    width: 312px;
  }
}

.popup {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 8px 16px 0px $shadow-dark;
  @include text();

  display: flex;
  flex-direction: column;
  gap: 16px;

  background-color: $white;
  z-index: 1;

  &__wrapper {
    padding: 40px 40px 32px;

    @media screen and (max-width: 768px) {
      padding: 32px;
    }

    @media screen and (max-width: 576px) {
      padding: 24px;
    }
  }

  &_open_closed {
    box-shadow: none;
  }
}

.login {
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;

  &__image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  &__text {
    margin: 0;
    width: 212px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media screen and (max-width: 576px) {
    justify-content: flex-end;
    &__text {
      display: none;
    }
  }
}

.links {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 248px;
}

.link {
  display: flex;
  align-items: center;

  width: 248px;
  height: 36px;
  background-color: $white;
  border-radius: 4px;
  padding-left: 36px;
  color: $text-dark;
  transition: background-color 0.15s ease-in;
  text-decoration: none;

  &:hover {
    background-color: $btn-hover;
  }
}

.btn {
  display: flex;
  align-items: center;
  width: 248px;
  height: 36px;
  background-color: $white;
  border-radius: 4px;
  padding-left: 36px;
  color: $text-dark;
  transition: background-color 0.15s ease-in;
  text-decoration: none;
  cursor: pointer;
  @include text();
  border: none;
  font-family: "IBM Plex Sans";

  &:hover {
    background-color: $btn-hover;
  }
}
