@use '../../modules/mixins.scss';

.container {
  padding-bottom: 96px;

  @media screen and (max-width: 780px) {
    padding-bottom: 88px;
  }

  @media screen and (max-width: 500px) {
    padding-top: 10px;
  }
}

.form {
  width: 440px;
  margin: 0 auto;

  @media screen and (max-width: 500px) {
    width: 272px;
  }
}

.caption {
  @include mixins.text();
  display: block;
  margin: 16px 0;
}