@import './variables.scss';

@mixin h1_desktop() {
  font: {
    size: $h1_desktop_font-size;
    weight: $h1_desktop_font-weight;
  }

  line-height: $h1_desktop_line-height;
}

@mixin h1_tablet() {
  font: {
    size: $h1_tablet_font-size;
    weight: $h1_tablet_font-weight;
  }

  line-height: $h1_tablet_line-height;
}

@mixin h1_mobile() {
  font: {
    size: $h1_mobile_font-size;
    weight: $h1_mobile_font-weight;
  }

  line-height: $h1_mobile_line-height;
}

@mixin h2_desktop() {
  font: {
    size: $h2_desktop_font-size;
    weight: $h2_desktop_font-weight;
  }

  line-height: $h2_desktop_line-height;
}

@mixin h3_desktop() {
  font: {
    size: $h3_desktop_font-size;
    weight: $h3_desktop_font-weight;
  }

  line-height: $h3_desktop_line-height;
}

@mixin h4_desktop() {
  font: {
    size: $h4_desktop_font-size;
    weight: $h4_desktop_font-weight;
  }

  line-height: $h4_desktop_line-height;
}

@mixin text() {
  font: {
    size: $text_font-size;
    weight: $text_font-weight;
  }

  line-height: $text_line-height;
}
@mixin text_button_login() {
  font: {
    size: $text_button_login_font-size;
    weight: $text_button_login_font-weight;
  }

  line-height: $text_button_login_line-height;
}

@mixin text_button_upload() {
  font: {
    size: $text_button_upload_font-size;
    weight: $text_button_upload_font-weight;
  }

  line-height: $text_button_upload_line-height;
}

@mixin text_feedback() {
  font: {
    size: $text_feedback_font-size;
    weight: $text_feedback_font-weight;
  }

  line-height: $text_feedback_line-height;
}

@mixin text_icon_count() {
  font: {
    size: $text_icon_count_font-size;
    weight: $text_icon_count_font-weight;
  }

  line-height: $text_icon_count_line-height;
}