$text-dark: #100c34;
$text-superlight: #f3f3f3;
$text-light: #a3a3a3;
$input-hover: #666666;
$placeholder: #83828f;
$neon-pink: #ff00a8;
$neon-green: #38ec42;
$error: #e90d41;
$blue: #3b23b7;
$text-button: #f0f0f0;
$button-default: linear-gradient(269.17deg, #3b23b7 30.28%, #c914e7 63.24%);
$button-hover: linear-gradient(269.17deg, #3f26c4 30.28%, #d315f2 63.24%);
$button-active: linear-gradient(269.17deg, #4328d1 30.28%, #de16ff 63.24%);
$button-disabled: #bfbfbf;

$h1_desktop_font-size: 60px;
$h1_desktop_font-weight: 500;
$h1_desktop_line-height: 60px;

$h1_tablet_font-size: 40px;
$h1_tablet_font-weight: 500;
$h1_tablet_line-height: 40px;

$h1_mobile_font-size: 32px;
$h1_mobile_font-weight: 500;
$h1_mobile_line-height: 40px;

$h2_desktop_font-size: 24px;
$h2_desktop_font-weight: 400;
$h2_desktop_line-height: 32px;

$h3_desktop_font-size: 14px;
$h3_desktop_font-weight: 700;
$h3_desktop_line-height: 18px;

$h4_desktop_font-size: 20px;
$h4_desktop_font-weight: 400;
$h4_desktop_line-height: 28px;

$text_font-size: 16px;
$text_font-weight: 400;
$text_line-height: 24px;