$text-dark: #100c34;
$text-superlight: #f3f3f3;
$text-light: #a3a3a3;
$input-hover: #666666;
$placeholder: #83828f;
$neon-pink: #ff00a8;
$neon-green: #38ec42;
$error: #e90d41;
$blue: #3b23b7;
$white: #ffffff;
$shadow-dark: #00000014;
$btn-hover: #f9f9f9