@import '../../modules/variables.scss';
@import '../../modules/mixins.scss';


.feedbackModal {
  width: 100%;
  position: absolute;
  top: 48px;
  left: 0;
  min-height: 96px;
  // width: 321px;
  padding: 12px;
  background-color: $white;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-sizing: border-box;
}

.feedbackTexts {
  display: flex;
  flex-direction: column;
  overflow-y: overlay;
  max-height: 100px;
}

.feedbackTextStyle {
  padding-top: 8px;
  border-top: 1px solid $text-dark;
}

.feedbackText {
  @include text_feedback;
  margin: 0;
}

.feedbackInput {
  @include text_button_upload;
  margin: 0 0 16px;
  padding: 8px;
  width: 100%;
  height: 36px;
  border: none;
  box-sizing: border-box;
  background: $text-superlight;
}

.feedbackIcons {
  width: 100%;
  max-height: 52px;
  display: flex;
  column-gap: 10px;
  row-gap: 4px;
  flex-wrap: wrap;
}

.feedbackIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.feedbackIconCount {
  margin: 0;
  @include text_icon_count;
  color: $neon-pink
}