@import '../../modules/variables.scss';
@import '../../modules/mixins.scss';

.select {
  position: relative;
  width: 100%;

  &__input {
    display: none;
  }
}

.button {
  @include text();
  display: flex;
  width: 100%;
  height: 48px;
  border-radius: 4px;
  padding: 12px 16px;
  position: relative;
  background: none;
  cursor: pointer;
  outline: none;
  border: 1px solid $text-dark;

  &::after {
    content: url(../../assets/icons/caret-up.svg);
    display: block;
    position: absolute;
    top: 11px;
    right: 11px;
    pointer-events: none;
  }

  &_active {
    @include text();
    display: flex;
    width: 100%;
    height: 48px;
    border-radius: 4px 4px 0 0;
    padding: 12px 16px;
    position: relative;
    background: none;
    cursor: pointer;
    outline: none;
    border: 1px solid $text-dark;

    &::after {
      content: url(../../assets/icons/caret-down.svg);
      display: block;
      position: absolute;
      top: 11px;
      right: 11px;
      pointer-events: none;
    }
  }
}

.list {
  margin: 0;
  padding: 5px 0;
  background-color: $btn-hover;
  list-style-type: none;
  position: absolute;
  top: 47px;
  left: 0;
  overflow-y: scroll;
  width: 100%;
  max-height: 191px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 0px 4px rgba(78, 59, 255, 0.25);
  border: 1px solid $text-dark;
  box-sizing: border-box;
  z-index: 3;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $text-light;
    border-radius: 3px;
    border: 3px solid $white;
  }

  &__item {
    @include text();
    color: $text-dark;
    display: block;
    width: 100%;
    padding: 6px 16px;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      background: $neon-pink;
      color: $white;
    }
  }
}

.input {
  @include text();
  width: 100%;
  height: 48px;
  border-radius: 4px;
  padding: 12px 16px;
  box-sizing: border-box;
  border: 1px solid $text-dark;
  outline: none;
  cursor: pointer;

  &::-webkit-calendar-picker-indicator{
    opacity: 0;
  }

  &[type=file] {
    color: transparent;
    background-color: transparent;
    background:url("../../assets/icons/attach.svg") $white no-repeat 97% 50%;

    &::-webkit-file-upload-button {
      visibility: hidden;
    }
  }

  &__label {
    @include text();
    color: $text-dark;
    padding-bottom: 2px;
  }

  &__error {
    @include text();
    color: $error;
  }
}

.textarea {
  @include text();
  border-radius: 4px;
  padding: 12px 16px;
  box-sizing: border-box;
  width: 100%;
  min-height: 118px;
  overflow: auto;
  resize: none;
  outline: none;
  border: 1px solid $text-dark;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $text-light;
    border-radius: 3px;
    border: 3px solid $white;
  }

  &::-webkit-input-placeholder {
    color: $placeholder;
    font-family: $font-family;
  }

  &::-moz-placeholder {
    color: $placeholder;
    font-family: $font-family;
  }

  &::-ms-input-placeholder {
    color: $placeholder;
    font-family: $font-family;
  }

  &::placeholder {
    color: $placeholder;
    font-family: $font-family;
  }
}

.datePicker {
  display: flex;
  margin: 0;
  width: 100%;
  justify-content: space-evenly;

  &__select {
    border: none;
    outline: none;
    @include h3_desktop();
    font-weight: $h2_desktop_font-weight;
    font-family: $font-family;
    min-width: 68px;
    background-color: #F8F8F8; //Уникальное значение

    &::-ms-expand {
      display: none;
    }

    &::-webkit-scrollbar {
      width: 10px;
    }
  
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: $text-light;
      border-radius: 3px;
      border: 3px solid $white;
    }
  }
}
