@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  src: url("../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  src: url("../fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  src: url("../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf") format("truetype");
}
