@font-face {
	font-family: 'IBM Plex Sans';
	src: url('./fonts/ibmplexsans-regular.woff2') format('woff2'), url('./fonts/ibmplexsans-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'IBM Plex Sans';
	src: url('./fonts/ibmplexsans-medium.woff2') format('woff2'), url('./fonts/ibmplexsans-medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'IBM Plex Sans';
	src: url('./fonts/ibmplexsans-bold.woff2') format('woff2'), url('./fonts/ibmplexsans-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}