.communication {
    border: none; 
    outline: none;
    background-image: url(../../assets/icons/chat.svg);
    background-color: inherit;
    Width: 32px;
    Height: 32px;

    &:hover {
        cursor: pointer;
    }

    .communication__circle {
        margin-top: -20px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        background: #FF00A8;
        border-radius: 40px;
    }

    .communication__counter {
        margin: 0;
        padding: 0;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: #FFFFFF;
    }
}