@use '../../modules/variables.scss';
@use '../../index.scss';

.button {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    text-align: center;
    background: linear-gradient(269.17deg, variables.$blue 30.28%, variables.$neon-pink 63.24%);
    color: variables.$text-superlight;
    cursor: pointer;
}

.small {
    height: 44px;
    width: 260px;
    @include index.text();
}

.medium {
    height: 60px;
    width: 272px;
    @include index.h4_desktop();
}

.large {
    height: 68px;
    width: 439px;
    @include index.h4_desktop();
}

.disabled {
    background: #BFBFBF;
    cursor: default;
}
